.notify{
    position: fixed;
    top:0;
    left : 50%;
    transform : translate(-50%); /*center the elements horizantally relative to parent elem*/
    background-color : lightgreen;
    padding : 10px 20px;
    margin-top: 10px;
    z-index: 999; /*stacking index - the element will loaded on top of all*/
    box-shadow: 0 2px 6px;
}
.task strike {
    text-decoration: line-through;
  }

  .task {
    text-decoration: none;
  }